[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pywebview = "*"
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
pandas = "*"
requests = "*"
packaging = "*"

[dev-packages]

[requires]
python_version = "3.11"
