<div id="save-directory-modal" class="modal">
  <div class="modal-content">
    <h4>Welcome to Employee Scheduler</h4>
    <p>
      Before we begin, please select a directory where you'd like to save your
      schedule files.
    </p>
    <div class="input-field">
      <input id="modal_save_directory" type="text" readonly />
      <label for="modal_save_directory">Save Directory</label>
    </div>
  </div>
  <div class="modal-footer">
    <a
      href="#!"
      class="modal-close waves-effect waves-green btn-flat"
      id="modal_select_directory"
      >Select Directory</a
    >
  </div>
</div>
